<script>
import Title from './Title.vue'
import Desc from './Desc.vue'
import DownField from './DownField.vue'

export default {
	name: 'Downloader',
	components: {
		Title, 
        Desc, 
        DownField
	}
}
</script>

<template>
    <div>
        <Title titleName="Télécharger ou supprimer un fichier"></Title>    
        <Desc description="Choisissez un fichier sur le drive"></Desc>
        <down-field/>
    </div> 
</template>