<script>
import axios from "axios";
const ip="localhost"
export default {
  name:'DownField',
  data: function () {
    this.showFiles()
    return {
      files: [],
      selected: null,
    };
  },
  methods: {
  showFiles: function () { 
    //alert("showfile")
    let URL = "http://"+ip+":8010/fichiers/"; //point d'accès du service app.get du backend
    axios.get(URL)
    .then((response) => {
      console.log(response.data); // à stocker dans files []
      //alert("Get http://"+ip+":8010/fichiers/ :\n" + response.data)
      this.files=response.data;
    })
    .catch((error) => { //sinon si erreur, refus du serveur
      console.log("error requete", error);
    });
  },
  downloadFile: function() {
    if (!this.selected) return;
    let URL = "http://"+ip+":8010/fichiers/"+this.selected;
    //alert(URL)
    axios.get(URL, {responseType: 'blob'})
    .then((response) => {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', this.selected);
      document.body.appendChild(link);
      link.click();
    })
    .catch((error) => { //sinon si erreur, refus du serveur
      console.log("error requete", error);
    });
  },
  deleteFile: function() {
    if (!this.selected) return;
    let URL = "http://"+ip+":8010/fichiers/"+this.selected;
    axios.delete(URL)
    .then(function () {
      window.location.reload();
    })
    .catch((error) => { //sinon si erreur, refus du serveur
      console.log("error requete", error);
    });
  },
  },
  /*beforeMount(){
    this.showFiles()
 },*/
};

</script>

<template>
  <div class="container">
    <div class="large-12 medium-12 small-12 cell">
       <label>
       <select v-model="selected"> <!-- quand l'utilisateur clique sur une des options, selected en prend la valeur -->
        <option v-for="file in files" :key="file">
          {{file}}
        </option>
       </select>
      </label>
      <hr />
      <p> {{selected}} </p>
      <hr />
      <button name="actionButton" v-on:click="downloadFile()">Télécharger</button>
      <button name="actionButton" v-on:click="deleteFile()">Supprimer</button>
      <!-- Faire une zone qui liste les fichiers disponibles chez le serveur. Puis deux boutons: télécharger ou supprimer -->
    </div>
  </div>
</template>

<style>
</style>