<script>
export default {
  name: "MenuFunction",
  props: ["addToFilesOnline", "name", "size", "chosen"],
};
</script>

<template>
  <div class="menu-item">
    <div>
      <h3>{{ name }}</h3>
      <p v-if="chosen">Le fichier a bien été selectionné</p>
      <p v-else>Aucun fichier n'a encore été choisi</p>
      <div>
        <label for="add-item-quantity"> Choix du fichier : </label>
        <input v-model.number="quantity" id="add-item-quantity" type="number" />
        <button @click="addToFilesOnline(size)">Taille du fichier</button>
      </div>
    </div>
  </div>
</template>

<style>
</style>