<script>
import axios from "axios";
//const API_KEY="AIzaSyCCiH93LeRxAXrgyXN_UKUnLZvQxA6Fc3E"
const ip="localhost"
export default {
  name: "UpField",
  data: function () {
    return {
      uploadedFile: null,
      fileName: null,
      fileSize: null,
      message: null,
    };
  },
  methods: {
    handleFileUpload(e) { // "stocke" les données du fichier à envoyer au serveur
      var files = e.target.files || e.dataTransfer.files;
      /*l'évènement e, déclenché quand l'utilisateur finit de choisir son/ses fichier(s)
      possède la propriété target.files ou la propriété dataTransfer.files qui contient la liste des fichiers*/
      if (!files.length) return;
      this.uploadedFile = files[0]; //on gère l'upload d'un seul fichier à la fois
      this.fileName = this.uploadedFile.name;
      this.fileSize = Math.trunc(this.uploadedFile.size / 1000) + "ko";
    },
    submitFile: function () { // envoie le fichier au serveur
      alert("Ce fichier fait " + this.fileSize); //affiche la taille en ko du fichier à envoyer au serveur
      let URL = "http://"+ip+":8010/fichiers/"; //point d'accès du service app.post du backend

      let data = new FormData(); //construit objet FormData qui récupère les valeurs de formulaires

      // data.append("name", "image");
      data.append("file", this.uploadedFile, this.fileName); //on stocke les données de notre fichier dans data
      // var options = { content: data };

      if (!this.uploadedFile) return;
      axios
        .post(URL, data) //on envoie data à URL
        .then(() => { // si la réponse du serveur càd le backend est positive
          window.location.reload();
        })
        .catch((error) => { //sinon si erreur, refus du serveur
          console.log("error requete", error);
        });
    },
    
    //Test requete GET, à possiblement adapter et à déplacer dans DownField.vue
    
    getFile: function () {
      alert("Ce fichier fait " + this.fileSize);
      const id = "2";
      let URL = "http://"+ip+":8010/fichiers/" + id;

      let data = new FormData();

      data.append("name", "image");
      data.append("file", this.uploadedFile);

      if (!this.uploadedFile) return;
      axios
        .get(URL)
        .then((response) => {
          console.log("response", response);
          
        })
        .catch((error) => {
          console.log("test xerror requete", error);
        });
    },
  },
};
</script>

<template>
  <div class="container">
    <div class="large-12 medium-12 small-12 cell">
      <label>
        File
        <input type="file" @change="handleFileUpload" /> <!-- lorsque qu'un fichier est choisi, la méthode handleFileUpload est appelé -->
      </label>
      <hr />
      <button v-on:click="submitFile()">Envoyer</button> <!-- lorsque le bouton Envoyer est cliqué, submitFile est appelée -->
    </div>
  </div>
</template>

<style>
</style>