<script>
import Title from './Title.vue'
import Desc from './Desc.vue'
import UpField from './UpField.vue'


export default {
	name: 'Uploader',
	components: {
		Title, 
        Desc, 
        UpField
	}
}
</script>

<template>
    <div>
        <Title titleName="Uploader un fichier"/>
        <Desc description="Choisissez un fichier à mettre sur votre drive"/>
        <UpField/>
    </div> 
</template>