.app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  .header {
    background-color: #fcd5ce;
    padding: 3%;
  }
  
  .description {
    max-width: 960px;
    font-size: 1.2rem;
    margin: 0 auto;
  }
  
  .footer {
    text-align: center;
    font-style: italic;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 2%;
    border-style: double;
  }
  
  .menu-item__image {
    max-width: 300px;
  }
  