<template>
  <div id="app" class="app">
    <div class="header">
      <h1>{{ plateformName }}</h1>

      <p class="description">
        Bienvenue dans notre plateforme {{ plateformName }} ! Nous vous
        proposons ici un système de sauvegarde de vos données simple mais
        efficace ! Vos données seront donc répliqués sur différents services
        Cloud de sorte à ce qu'elles ne soient jamais perdues!
      </p>
    </div>
    <section class="menu">
      <h2>Ajout sur votre Drive</h2>
      <Uploader />
    </section>

    <section class="menu">
      <h2>Rechercher sur le Drive</h2>
      <Downloader />
    </section>

    <aside>
      <h2>
        Taille occupée sur votre drive: {{ size }} MB
      </h2>
      <h2>Nombre de fichier en ligne: {{ filesOnline }}</h2>
    </aside>

    <h2>Contactez-nous</h2>
    <p>Téléphone : {{ phone }}</p>
    <p>Email : {{ email }}</p>
    <footer class="footer">
      <p>{{ copyright }}</p>
    </footer>
  </div>
</template>

<style>
@import "./assets/style.css";
</style>

<script>
import Uploader from "./components/Uploader.vue";
import Downloader from "./components/Downloader.vue";
import axios from "axios";
const ip="localhost"
export default {
  name: "App",
  components: {
    Uploader,
    Downloader,
  },
  data() {
    this.setInfo()
    return {
      email: "hello@replicut.fr",
      phone: "01 88 88 88 88",
      plateformName: "Replic'UT",
      filesOnline: 0,
      size: 300,
    };
  },
  computed: {
    copyright() {
      const currentYear = new Date().getFullYear();
      return `Copyright ${this.plateformName} ${currentYear}`;
    },
  },
  methods: {
    setInfo() {
      //alert("setInfo")
      let URL = "http://"+ip+":8010/fichiers/info/"; //point d'accès du service app.get info du backend
      axios.get(URL)
      .then((response) => {
        //alert(JSON.stringify(response.data))
        this.filesOnline=response.data.nbFile;
        //alert(this.filesOnline)
        this.size=response.data.size/1000000;
        //alert(this.size)
      })
      .catch((error) => { //sinon si erreur, refus du serveur
      console.log("error requete", error);
    });
    },
  },
  /*beforeMount(){
    this.setInfo();
  },*/
};
</script>